/* App.css */

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

h1 {
  font-size: 70px;
}
.App {
  text-align: center;
  position: relative;
  width: 100%;
  height: 100%;
}

.buttons {
  margin-bottom: 20px;
}

.ball-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.ball {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  animation: move-and-rotate 10s linear infinite;
}


.buttons button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: black;
  padding: 13px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 26px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
}

.button:hover {
  background-color: #45a049;
}

.button.reset {
  background-color: #f44336; /* Red */
}

.button.reset:hover {
  background-color: #d32f2f;
}